.wrapper{
  position: relative;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #c3c4ca;
  background-image: url("../../../assets/nurse-2019420_1920.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
}

.medical {
  background-color: #1344ff;
  padding: 10px;
  border-radius: 15px;
  font-size: 13px;
  width: 100px;
  color: #fff;
  margin: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.health {
  padding: 10px;
  border-radius: 15px;
  font-size: 13px;
  width: 100px;
  border: 1px solid #aaaa;
  margin: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doctor {
  padding: 10px;
  border-radius: 15px;
  font-size: 13px;
  width: 100px;
  border: 2px solid #aaaa;
  margin: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  width: 150px;
  background-color: #1344ff;
  padding: 10px;
  color: #fff;
  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  margin-bottom: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote {
  font-size: 30px;
  color: #333;
  width: 350px;
  margin: 40px;
}
.customer {
  font-size: 55px;
  color: #333;
}

.logo {
  height: 100px;
  width: 200px;
  background-color: #1344ff;
  padding: 20px;
  color: #fff;

  margin-right: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus {
  margin: 100px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.aboutus img {
  height: 350px;
  width: 350px;
}

.about-header {
  flex: 1;

  font-size: 55px;
  color: #1344ff;
}

.needle-image {
  flex: 1;
}

.about-detail {
  flex: 1;
  background-color: #1344ff;
  color: #fff;
  padding: 50px;
  border-radius: 0px;
  border-radius: 15px;

}

.detail {
  color: #fff;

}

.teams{
  margin: 50px;

}

.teams-header{

  display: flex;

  align-items: center;
  justify-content: center;
  color: #333;
}

.teams-details{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.teams-container{

  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 30px;
}

.teams-container img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.footer{

  height: 300px;

  display: flex;

  align-items: center;
  justify-content: space-evenly;
  background-color: #c3c4ca;
}
.footer-logo{

  font-size: 25px;
  font-weight: 900;

  color: #333;

}
.made-by{

  font-weight: bold;
  color: #333;
}

.login-container{
position: absolute;
top: 0;
right: 0;
height: 100vh;
width: 100vw;
z-index: 999;
background-color: rgba(0, 0, 0, 0.1);

}

.login-wrapper{

  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 50%;
  background-color: #fff;
  color: #333;

  cursor: pointer;
  position: relative;
}

.login-input{

  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-input h1{

  margin: 20px;
}

.login-input input{

  width: 250px;
  padding: 10px;
  margin: 20px;
}

.btn-login{

  width: 250px;
  background-color: #1344ff;
  color: #fff;
  padding: 15px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
}

.close{
position: absolute;
top: 10px;
right: 10px;
color: #fff;
background-color: red;
padding: 5px;

cursor: pointer;
}