<div class="container">

   <div class="header">

    <span class="medical">Medical</span>
    <span class="health">Health Care</span>
    <span class="doctor">Doctor</span>
   </div>

   <div class="body">

    <div class="quote">

        <span>Our Hospital will restore your Health very fast.</span>
    </div>

    <span class="customer">1000+ Customers</span>
    <div class="logo">

        

        <span>Vigen Medics</span>

    </div>
   </div>
</div>

<div class="aboutus">

    <div class="about-header">
       <span>About Us</span> 
    </div>

    <div class="needle-image">
        <img src="../../../assets/injection-1712511_1280.png" alt="">
    </div>

    <div class="about-detail">
        But it is always important to get up and get back to the grind. Today, we motivate you with some doctor motivational quotes for medical students and anecdotes to help you feel positive and charged up. 
    </div>
</div>
