.wrapper{
position: relative;
    margin: 50px;
}

.container{

    max-width: 1024px;
    position: relative;
}

.available{

    display: flex;
    justify-content: flex-end;
    margin: 20px;
    font-size: 15px;
}

.patient-header{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    background-color:#ebedf9;
    padding: 20px;
}

.add{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 20px;
}

.add span{

    margin-left: 10px;
    background-color: #1344ff;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}
.add-icon{

    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.search{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}

.search input{

    padding:9px;

    width: 40%;

    
}
.patient-container{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

.pagination{

    display: flex;
    align-items: center;
    justify-content: center;
}

.treatment{

    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}



.add-treatment{
display: flex;
flex-direction: column;
position: absolute;
top: 0;
right: 0;
height: 100vh;
width: 29%;
background-color: #fff;
z-index: 999;
}

.add-treatment h3{

    margin: 20px;
    color: #333;
}
.add-treatment  label{

    margin: 10px;
}

.add-treatment  input{

    margin:5px 10px;

    padding: 5px;
}

.add-treatment textarea{
    margin:5px 10px;

    padding: 30px;
}

.add-treatment  button{

    width: 90%;
    margin: 20px;

    padding: 10px;
    border: none;

    background-color:#1344ff;
cursor: pointer;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.close{

    position: absolute;
    top: 10px;
background-color: red;
    right: 10px;

    padding: 5px;

    color: white;
    cursor: pointer;
}

.add-diagnosis{

    background-color: #d1411e;
   display: flex;
   align-items: center;
   justify-content: center;
    padding: 5px;
    width: 50px;
    color: #fff;

    cursor: pointer;
    font-size: 13px;
}

.book{

    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
}
.book-appointment{

    height: 300px;
    width: 400px;
    position: absolute;
    top: 20%;
    right: 5%;
    background-color: #fff;
    z-index: 999;
}

.book-appointment h3{

    margin: 20px 50px;
}

.btn-cancel{
    
    border: none;
    padding: 10px;
    
    font-weight: bold;
    cursor: pointer;
    width:150px; 
}

.btn-book{
    background-color: #d1411e;
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width:150px;
}

.book-appointment input{
    margin: 50px;
}

.book-cancel{

    margin: 0px 0px;

    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
