.container{

    height: 80px;

    margin:30px;
    max-width: 1024px;

    background-color:#ebedf9;

    
}

.navigation{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 60vw;
}

.navigation span{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    color: #444;
    font-size: 15px;
    
}
.navigation span:nth-child(4){

    font-size: 13px;

    display: flex;
    justify-content: space-between;

    
}
.user-icon{

    font-size: 25px;
    margin-right: 20px;
}


