.container {
  max-width: 1024px;
  position: relative;

  margin-top: 50px;
}

.available {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  font-size: 15px;
}

.patient-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: #aaa;
  padding: 20px;

  margin: 20px;

  font-size: 15px;

  background-color: #203354;
}

.add {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 20px;
}

.add span {
  margin-left: 10px;
  background-color: #1344ff;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
.add-icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20px;
}

.search input {
  padding: 9px;

  width: 40%;
}
.patient-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.treatment {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.add-treatment {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 29%;
  background-color: #fff;
  z-index: 999;
}

.add-treatment span {
  margin: 50px;
  color: #333;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  font-size: 20px;
}
.delete-cancel span{

    margin-top: 100px;
}

.delete-item{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 100px;
}
.delete-cancel {
  display: flex;
  align-items: center;
  width: 70%;
  cursor: pointer;
}

.delete-cancel button:nth-child(2) {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
}

.delete-cancel button:nth-child(1) {
  border: none;
  padding: 10px;
}

.add-treatment label {
  margin: 10px;
}

.add-treatment input {
  margin: 5px 10px;

  padding: 5px;
}

.add-treatment textarea {
  margin: 5px 10px;

  padding: 30px;
}

.add-treatment button {
  width: 90%;
  margin: 20px;

  padding: 10px;
  border: none;

  background-color: #1344ff;
  cursor: pointer;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 10px;
  background-color: red;
  right: 10px;

  padding: 5px;

  color: white;
  cursor: pointer;
}

.add-diagnosis {
  background-color: #d1411e;

  padding: 5px;
  width: 50px;
  color: #fff;

  cursor: pointer;
  font-size: 13px;
}
