<div class="wrapper">

    <div class="container">

    
      <div class="patient-header">
        <span>Name</span>
    
        <span>Resident area</span>
    
        <span>Role</span>
    
        <span>Security No</span>
    
        <span>Id no</span>
    
       

        <span>Delete</span>
      </div>
    
      
      <div class="search">
        <input type="text" placeholder="Search patient by Id no" />
      </div>
    
      <div
        class="patient-body"
        *ngFor="
          let item of collection | paginate: { itemsPerPage: 1, currentPage: p }
        "
      >
    
    
        <div class="patient-container">
          <span>John Kimuru</span>
    
          <span>Texas</span>
    
          <span>RN3 SECOND FLOOR(no 3)</span>
    
          <span>MRV194526491</span>
    
          <span>3452728282882</span>
    
          

          <span class="add-diagnosis"  (click)="showAdd()">Delete</span>
        </div>
    
        <div class="patient-container">
          <span>John Kimuru</span>
    
          <span>Texas</span>
    
          <span>RN3 SECOND FLOOR(no 3)</span>
    
          <span>MRV194526491</span>
    
          <span>3452728282882</span>
    
        
          <span class="add-diagnosis"  (click)="showAdd()">Delete</span>
        </div>
    
        <div class="patient-container">
          <span>John Kimuru</span>
    
          <span>Texas</span>
    
          <span>RN3 SECOND FLOOR(no 3)</span>
    
          <span>MRV194526491</span>
    
          <span>3452728282882</span>
    
         
          <span class="add-diagnosis"  (click)="showAdd()">Delete</span>
        </div>
    
        <div class="patient-container">
          <span>John Kimuru</span>
    
          <span>Texas</span>
    
          <span>RN3 SECOND FLOOR(no 3)</span>
    
          <span>MRV194526491</span>
    
          <span>3452728282882</span>
    
          
          <span class="add-diagnosis"  (click)="showAdd()">Delete</span>
        </div>
    
        <div class="patient-container">
          <span>John Kimuru</span>
    
          <span>Texas</span>
    
          <span>RN3 SECOND FLOOR(no 3)</span>
    
          <span>MRV194526491</span>
    
          <span>3452728282882</span>
    
          
          <span class="add-diagnosis" (click)="showAdd()">Delete</span>
        </div>
    
       
        <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
      </div>


      

    
    </div>
    </div>
   <div class="treatment" *ngIf="close">
    <div class="add-treatment">


      <div class="delete-item">

        <span>Are you sure you want to delete this user?</span>

        <div class="delete-cancel">

          <button class="cancel" (click)="showAdd()">Cancel</button>

          <button class="delete">Delete</button>
        </div>
      </div>
    
        
        
    </div>
   </div> 
    
   
        