.charts{
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    font-size: 5px;
    
}

.pie {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}

.line {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}

.diagnosis{
    margin: 30px;
}
.diagnosis-header{

    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: space-evenly;
    background-color:#ebedf9;
    padding: 20px;
    
}
.diagnosis-item{

    display: flex;
    align-items: center;
    justify-content: space-evenly;  

    cursor: pointer;

    font-size: 15px;
}

.diagnosis-item span{

    margin: 10px;
}
.diagnosis-item span:last-child{
    background-color:#aaaa;
    padding: 5px;
   cursor: pointer; 
    
}
.pagination{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.wrapper{

    position: relative;
}

.detail-treatment{

    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    width: 100%;
    transition: all 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
}

.treatment-item{

    background-color: #fff;
    height: 100vh;
    width: 25vw;
    transition: all 1s ease-in-out;
    position: absolute;

    top: 0;

    right: 0;

}

.close{

    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.close button{

    background-color: red;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
}

.treatment-item-detail{

    margin: 20px;
    display: flex;
  
   
}

.treatment-item-detail span:nth-child(1){

    font-weight: bold;
    margin-right: 20px;
}

