
.wrapper{

    display: flex;
    
}
.profile-icon{

    font-size: 50px; 

    display: flex;
    align-items: center;
    justify-content: center;
}
.sidenav{

    flex: 1;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 100vh;
    background-color: #ebedf9;
    font-size: 15px;
}
.welcome{

    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
}
.icon{

    font-weight: 35px;
    margin:0px 20px;
    cursor: pointer;

    
}

.sidenav span{

    margin: 20px;
}

.diagnosis{
    margin: 50px;

    flex: 4;
}
.diagnosis-header{

    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: space-evenly;
    background-color:#ebedf9;
    padding: 20px;

    margin: 0px 50px;
    
}

.diagnosis-header span{

    margin:0px 10px;
    width: 100px;
}

.search{

  

    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    width: 50%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.diagnosis-item{

    display: flex;
    align-items: center;
    justify-content: space-evenly;  

    cursor: pointer;

    font-size: 15px;
}

.diagnosis-item span{

    margin: 10px;
    width: 100px;
}
.pending{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1411e;
    color: #fff;
    padding: 5px;
   cursor: pointer; 
    
}
.pagination{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.wrapper{

    position: relative;
}

.detail-treatment{

    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    width: 100%;
    transition: all 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
}

.treatment-item{

    background-color: #fff;
    height: 100vh;
    width: 25vw;
    transition: all 1s ease-in-out;
    position: absolute;

    top: 0;

    right: 0;

}

.close{

    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.close button{

    background-color: red;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
}

.treatment-item-detail{

    margin: 20px;
    display: flex;
  
   
}

.treatment-item-detail span:nth-child(1){

    font-weight: bold;
    margin-right: 20px;
}