<div class="charts">

    <div class="pie" [chart]="donutChart">
   
    </div>
  
    <div class="line" [chart]="lineChart"></div>

  </div>
  
<div class="feeds">

    <div class="newuser">

        <h2>New User</h2>

        <ol>
            <li>John Doe</li>

            <li>Jane Doe</li>

            <li>Loise Young</li>

            <li>Jayson Duff</li>
        </ol>

    </div>

    <div class="requests">

        <h2>Requests</h2>

        <div class="request-item">
            <span>John Doe</span>
            <button>Approve</button>
        </div>

        <div class="request-item">
            <span>Loise Doe</span>
            <button>Approve</button>
        </div>

        <div class="request-item">
            <span>Jane Doe</span>
            <button>Approve</button>
        </div>
        <div class="request-item">
            <span>Lisper Doe</span>
            <button>Approve</button>
        </div>
    </div>
</div>