.wrapper{

    position: relative;
}

.container{

    max-width: 1024px;
}

.patient-header{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 20px;
}

.add span{

    margin-left: 10px;
    background-color: #d1411e;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}
.add-icon{

    font-size: 20px;
    color: #d1411e;
    cursor: pointer;
}
.search{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}

.search input{

    padding:9px;

    width: 40%;

    
}
.patient-container{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

.pagination{

    display: flex;
    align-items: center;
    justify-content: center;
}

.addpatient{

    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.add_patient_item{
display: flex;
flex-direction: column;
position: absolute;
top: 0;
right: 0;
height: 100vh;
width: 29%;
background-color: #fff;
z-index: 999;
}

.add_patient_item h3{

    margin: 5px;
    color: #333;
}
.add_patient_item label{

    margin: 3px;
}

.add_patient_item input{

    margin:3px 10px;

    padding: 3px;
}

.add_patient_item button{

    width: 90%;
    margin: 10px;

    padding: 10px;
    border: none;

    background-color:#1344ff;
cursor: pointer;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.close{

    position: absolute;
    top: 10px;
background-color: red;
    right: 10px;

    padding: 5px;

    color: white;
    cursor: pointer;
}