<div class="wrapper">

<app-topbar></app-topbar>
<div class="container">
  <div class="patient-header">
    <span>Name</span>

    <span>Location</span>

    <span>Room admitted</span>

    <span>Admission No</span>

    <span>Id no</span>

    <span>Status</span>
  </div>

  <div class="add">
    <fa-icon [icon]="faAdd" class="add-icon" (click)="showAdd()"></fa-icon>
    <span (click)="showAdd()">Add patient</span>   
  </div>
  <div class="search">
    <input type="text" placeholder="Search patient by admission no"  [(ngModel)]="searchText" />
  </div>


  
  
  <div *ngIf="patients$ | async as patients">
    
    
    <div *ngIf="patients.length;else noPatients">

   
  <div class="patient-body" *ngFor="let item of patients | paginate: { itemsPerPage: 5, currentPage: p } | search:searchText">


    <div class="patient-container">
      <span>{{item.name}}</span>

      <span>{{item.resident_area}}</span>

      <span>{{item.room_admitted}}</span>

      <span>{{item.admission_no}}</span>

      <span>{{item.id_no}}</span>

      <span>Good</span>
    </div>

    
   
   
  </div>
</div>

<pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
</div>

</div>
</div>

<ng-template #noPatients>

</ng-template>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="addpatient" *ngIf="close">

    <div class="add_patient_item">

        <h3>Add patient</h3>

        <span class="close" (click)="showAdd()">Close</span>

        <label for="">Name</label>
        <input type="text" formControlName="name">

        <label for="">Email</label>
        <input type="text" formControlName="email">

        <label for="">Resident area</label>
        <input type="text" formControlName="resident_area">

        <label for="">Room No</label>
        <input type="text" formControlName="room_admitted">
        <label for="">Admission no</label>
        <input type="text" formControlName="admission_no">

  
        <label for="">Id no</label>
        <input type="text" formControlName="id_no">

        

        

        <button class="btn-add" [disabled]="!form.valid">Submit</button>
        
    </div>
</div>

</form>