.container {

    display: flex;
    justify-content: space-between;
   
 
}

.menu-icon{

    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}
.profile{

    position: relative;
    height: 90vh;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}


.profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;


}

.profile span{

    margin: 10px;
}

.profile span:nth-child(3){

    color: green;
    animation: inProgress 1s ease alternate infinite;
}

@keyframes inProgress {
    
    from{

        opacity: 0;
    }

    to{

        opacity: 1;
    }
}

.appointment{
    background-color: #00adb5;
    border: none;
    padding: 10px;
    margin: 10px;
    color: #fff;
    width: 200px;
    cursor: pointer;
}

.drugs{

    margin: 10px;
    background-color: #00adb5;
    border: none;
    padding: 10px;
    color: #fff;
    width: 200px;
    cursor: pointer;
}

.logout{

    margin: 10px;
    background-color: #d1411e;
    border: none;
    padding: 10px;
    color: #fff;
    width: 200px;
    cursor: pointer;
}

.feeds{
    margin-top: 20px;
   
}

.feeds-item{

   background-color: #fff;
   padding: 20px;
margin: 20px;
   width: 100%;
   border-radius: 5px;
   height: 50px;
  
}
.charts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 5px;
    
}

.hide-menubar{

    display: none;
}

.pie {
  height: 250px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}

.line {
  height: 250px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}


.feeds-item{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100px;
    border-radius: 0px;
    width: 100%;
   
}

.feeds-item span{

    margin: 3px;
}
.header{

    font-size: 15px;
    font-weight: bold;
}
.time{

    color: #d1411e;
    font-size: 12px;
}

.icon{

    font-size: 13px;
    margin-right: 20px;

    color: #fff;
}