<div class="container">

    <h2>Add User</h2>

    <div class="add-item">

        <label for="">Name</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Email</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Security no</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Address no</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Admission no</label>

        <input type="text">
    </div>

    

    <div class="add-item">

        <label for="">Role</label>

        <select name="" id="">

            <option value="">admin</option>
            <option value="">patient</option>
            <option value="">reception</option>
            <option value="">finance</option>
        </select>
    </div>


    <button>Submit</button>
</div>
