.container{

    margin: 50px;

    display: flex;

    flex-direction: column;

   
}

h2{

    margin: 10px;
    color: #333;
}
.add-item{

    margin: 10px;

    display: flex;

    flex-direction: column;
}

.add-item input{

    width: 300px;

    padding: 3px;

    
}

.container button{

    padding: 10px;

    border: none;

    color:#fff;

    font-size: 15px;

    background-color: #203354;
margin-top: 20px;

    width: 300px;
}

.add-item select{

    width: 300px;
    padding: 5px;
}