<div class="container">

    <h2>Add User</h2>

    <div class="add-item">

        <label for="">Name</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Email</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Security no</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Address no</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Admission no</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Resident area</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Security no</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Id no</label>

        <input type="text">
    </div>

    <div class="add-item">

        <label for="">Role</label>

        <select name="" id="">

            <option value="">Admin</option>
            <option value="">Patient</option>
            <option value="">Reception</option>
            <option value="">Finance</option>
        </select>
    </div>


    <button>Submit</button>
</div>
