<div class="wrapper">

    <app-topbar></app-topbar>

    <div class="container">

        <form [formGroup]="form">
        <div class="available">

            <mat-slide-toggle>Are you available for appointment?</mat-slide-toggle>

        </div>
        </form>
      <div class="patient-header">
        <span>Name</span>
    
        <span>Location</span>
    
        <span>Room admitted</span>
    
        <span>Admission No</span>
    
        <span>Id no</span>
    
        <span>Status</span>

        <span>Add diagnosis</span>
      </div>
    
      
      <div class="search">
        <input type="text" placeholder="Search patient by admission no" [(ngModel)]="searchText"/>
      </div>


      <div *ngIf="patients$ | async as patients">
    
    
        <div *ngIf="patients.length;else noPatients">
      <div
        class="patient-body"
        *ngFor="
          let item of patients | paginate: 
          { itemsPerPage: 4, currentPage: p } 
          | search:searchText
         
        "
        
      >
  
        <div class="patient-container">
          <span>{{item.name}}</span>

      <span>{{item.resident_area}}</span>

      <span>{{item.room_admitted}}</span>

      <span>{{item.admission_no}}</span>

      <span>{{item.id_no}}</span>

          <span>Good</span>
          <span class="add-diagnosis" (click)="showAdd(item.email)">Add</span>
        </div>
    
       
       
      </div>
    </div>

    <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
    </div>
  </div>
</div>

<ng-template #noPatients>

</ng-template>

<form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
   <div class="treatment" *ngIf="close">
    <div class="add-treatment">
    
        <h3>Add Treatment</h3>

        <span class="close" (click)="Close()">Close</span>

        <label for="">Name of treatment</label>
        <input type="text" formControlName="name_treatment">

        <label for="">Drug administered</label>
        <input type="text" formControlName="drug_administered">

        <label for="">Doctor Name</label>
        <input type="text" formControlName="doctor_name">

        <label for="">Describe treatment</label>
        <textarea type="text" formControlName="description"></textarea>

        <label for="">status</label>
        <input type="text" formControlName="patient_status">
        <label for="">Bill</label>
        <input type="number" formControlName="bill">
        
        <label for="">Date</label>
        <input type="date" formControlName="date">

        <button class="btn-add"[disabled]="!form.valid">Submit</button>
        
    </div>
   </div> 
</form> 
   
        